<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgentMonitor_PC.Properties.Settings.AgentMonitorConnectionString"
            connectionString="Data Source=WSR\SQLEXPRESS;Initial Catalog=AgentMonitor;Persist Security Info=True;User ID=user10;Password=user10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>